* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Digital";
    src: url('./fonts/digital-7.ttf');
}

@font-face {
    font-family: "Tirto";
    src: url('./fonts/TirtoWritterRegular-Eajrl.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(92, 102, 88);
}

button {
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 1px 2px;
}

button:hover {
    filter: brightness(1.05);
}

.calculator-container {
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: #90A9A0;
    border: 5px solid #6b7e77;
    box-shadow: 1px 1px 10px;
}

.top-row-buttons {
    display: flex;
    width: 100%;
    gap: 4px;
    padding: 0 5%;
}

.top-row-buttons * {
    width: 50%;
    font-size: 200%;
}

.top-row-button {
    border-radius: 15px;
    background-color: #e9d1c2;
    color: #384440;
    border: 3px solid #b6a397;
}

.buttons-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5%;
    gap: 5px;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.num-button, #point, #equals {
    font-size: 50px;
    flex: 0 0 calc((100% - 12px) / 3);
    margin: 2px;
    background-color: #ce6f49;
    border-radius: 15px;
    color: #384440;
    border: 3px solid #965237;
}

.num-button {
    font-family: 'Tirto', sans-serif;
}

.operator-button {
    flex: 1 1 auto;
    margin: 2px;
    font-size: 50px;
    background-color: #ccb091;
    border-radius: 15px;
    color: #384440;
    border: 3px solid #a08a71;
}

.display {
    width: 90%;
    margin: 20px;
    background-color: rgb(206, 197, 197);
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
    font-size: 40px;
    border: 2px solid #6b7e77;
    border-radius: 5px;
    font-family: 'Digital', sans-serif;
}